.main {
    margin-top: 100px;
}

.nav-btn,
.sub-head {
    display: flex;
    justify-content: center;
}

.search-input, 
.image {
    display: block;
    margin: 0 auto;
}

.search-input {
    width: 400px;
    line-height: 24px;
    padding: 10px 30px;
    border: 1px #dfe1e5 solid;
    border-radius: 24px;
}

.image {
    width: 300px;
    margin-bottom: 20px;
}

.btn {
    margin: 30px 4px;
    background-color: #dfe1e5;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    font-size: 14px;
}

.link {
    padding: 0;
}
/* nav */

.nav {
    overflow: hidden;
}

.left,
.right {
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px;
}

.nav .right{
    float: left;

}

.nav .left{
    float: right;
}
